<header class="header">
    <div class="header__container container">
        <div class="header__image__container">
            <a href="{{ path('home') }}" class="header__logos">
                <img src="{{ asset("build/img/logomark.min.svg") }}" alt="logo mark" class="logomark">
                <img src="{{ asset("build/img/logotype.min.svg") }}" alt="logo type" class="logotype">
            </a>
        </div>
        <nav class="nav">
            <div class="nav__list">
                <a href="{{ path('home') }}" class="nav__link">Home</a>
                <a href="{{ path('home') }}" class="nav__link">Releases</a>
                <a href="{{ path('home') }}" class="nav__link">Envoyer</a>
                <a href="{{ path('home') }}" class="nav__link">Forge</a>
                <a href="{{ path('home') }}" class="nav__link">Vapor</a>
            </div>
        </nav>
    </div>
</header>
